<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Musical_WebStore_BlazorApp</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="list">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Instruments
            </NavLink>
            <ul class="sub-menu">
                <NavLink class="nav-link" href="list/Guitar">
                    <span class="oi oi-list-rich" aria-hidden="true"></span>Guitars
                </NavLink>
                <NavLink class="nav-link" href="list/Amplifier">
                    <span class="oi oi-list-rich" aria-hidden="true"></span>Amplifiers
                </NavLink>
                <NavLink class="nav-link" href="list/Pedal">
                    <span class="oi oi-list-rich" aria-hidden="true"></span>Pedals
                </NavLink>
            </ul>
        </li>
        <AuthorizeView>
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="testings/mine">
                        <span class="oi oi-list-rich" aria-hidden="true"></span>My Testings
                    </NavLink>
                </li>
                @if (context.User.IsInRole("Admin"))
                {
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="testings/all">
                            <span class="oi oi-list-rich" aria-hidden="true"></span>All testings
                        </NavLink>
                    </li>
                }
            </Authorized>
        </AuthorizeView>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
