@page "/list"
@using Musical_WebStore_BlazorApp.Shared
@inject HttpClient Http
<h3 class="inst-title">Instruments</h3>

@if (instruments == null)
{
    <p><em>Loading instruments...</em></p>
}
else
{
<div class="all-instr">
    @foreach (var instrument in instruments)
    {
        <div class="item-instr">
            <img src="@instrument.Image" />
            <div class="item-list">
                <h3>@instrument.Title</h3>
                <span class="price-instr">Price: @instrument.Price</span>
            </div>
            <div class="btn-cart">
                <button>Add to Cart</button>
            </div>
        </div>
    }
</div>
}

@code {
    Instrument[] instruments;

    protected override async Task OnInitializedAsync()
    {
        instruments = await Http.GetJsonAsync<Instrument[]>("api/Instruments");
    }
}
