@page "/list/{Type}"
@page "/list"
@using Musical_WebStore_BlazorApp.Shared
@inject HttpClient Http
<h3 class="inst-title">Instruments</h3>

@if (instruments == null)
{
    <p><em>Loading instruments...</em></p>
}
else
{
    <div class="row">
        @foreach (var instrument in instruments)
        {
            <div class="col-md-4">
                <div class="card text-center">
                    <img class="card-img-top" src="guitar.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@instrument.Title</h5>
                        <h5 class="card-text">Price: $@instrument.Price</h5>
                        <p class="card-text">@instrument.Description</p>
                        <p class="card-text">TYPE: @instrument.TypeName</p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {
    List<Instrument> instruments;
    [Parameter]
    public string Type { get; set; }

    protected override async Task OnInitializedAsync()
    {
        instruments = await Http.GetJsonAsync<List<Instrument>>("api/Instruments");
        if (!String.IsNullOrWhiteSpace(Type))
        {
            instruments = instruments.Where(i => i.TypeName == Type).ToList();
        }
    }
}
