@page "/tuner"

<div style="background-image: url(Neck.jpg); background-repeat: no-repeat;  background-size: 80%; padding: 3%; padding-top: 3%;">

    <div style="display: flex; flex-direction: row;">
        <div>
            <audio controls="controls" height="100" width="100" loop>
            <source src="https://tuner-online.com/audio/e2.mp3" type="audio/mp3" />
            <embed height="100" width="100" src="horse.mp3" />
            </audio>
        </div>
        <div class="circle">E2</div>
    </div>
    <div style="display: flex; flex-direction: row;">
        <div>
            <audio controls="controls" height="100" width="100" loop>
            <source src="https://tuner-online.com/audio/a2.mp3" type="audio/mp3" />
            <embed height="100" width="100" src="horse.mp3" />
            </audio>
        </div>
        <div class="circle">A2</div>
    </div>
    <div style="display: flex; flex-direction: row;">
        <div>
            <audio controls="controls" height="100" width="100" loop>
            <source src="https://tuner-online.com/audio/d3.mp3" type="audio/mp3" />
            <embed height="100" width="100" src="horse.mp3" />
            </audio>
        </div>
        <div class="circle">D3</div>
    </div>
    <div style="display: flex; flex-direction: row;">
        <div>
            <audio controls="controls" height="100" width="100" loop>
            <source src="https://tuner-online.com/audio/g3.mp3" type="audio/mp3" />
            <embed height="100" width="100" src="horse.mp3" />
            </audio>
        </div>
        <div class="circle">G3</div>
    </div>
    <div style="display: flex; flex-direction: row;">
        <div>
            <audio controls="controls" height="100" width="100" loop>
            <source src="https://tuner-online.com/audio/b3.mp3" type="audio/mp3" />
            <embed height="100" width="100" src="horse.mp3" />
            </audio>
        </div>
        <div class="circle">B3</div>
    </div>
    <div style="display: flex; flex-direction: row;">
        <div>
            <audio controls="controls" height="100" width="100" loop>
            <source src="https://tuner-online.com/audio/e4.mp3" type="audio/mp3" />
            <embed height="100" width="100" src="horse.mp3" />
            </audio>
        </div>
        <div class="circle">E4</div>
    </div>
</div>