@page "/tuner"

@*<div style="background-image: url(Neck.jpg); background-repeat: no-repeat;  background-size: 80%; padding: 3%; padding-top: 3%;">

    <div style="display: flex; flex-direction: row;">
        <div>
            <audio controls="controls" height="100" width="100" loop>
            <source src="https://tuner-online.com/audio/e2.mp3" type="audio/mp3" />
            <embed height="100" width="100" src="horse.mp3" />
            </audio>
        </div>
        <div class="circle">E2</div>
    </div>
    <div style="display: flex; flex-direction: row;">
        <div>
            <audio controls="controls" height="100" width="100" loop>
            <source src="https://tuner-online.com/audio/a2.mp3" type="audio/mp3" />
            <embed height="100" width="100" src="horse.mp3" />
            </audio>
        </div>
        <div class="circle">A2</div>
    </div>
    <div style="display: flex; flex-direction: row;">
        <div>
            <audio controls="controls" height="100" width="100" loop>
            <source src="https://tuner-online.com/audio/d3.mp3" type="audio/mp3" />
            <embed height="100" width="100" src="horse.mp3" />
            </audio>
        </div>
        <div class="circle">D3</div>
    </div>
    <div style="display: flex; flex-direction: row;">
        <div>
            <audio controls="controls" height="100" width="100" loop>
            <source src="https://tuner-online.com/audio/g3.mp3" type="audio/mp3" />
            <embed height="100" width="100" src="horse.mp3" />
            </audio>
        </div>
        <div class="circle">G3</div>
    </div>
    <div style="display: flex; flex-direction: row;">
        <div>
            <audio controls="controls" height="100" width="100" loop>
            <source src="https://tuner-online.com/audio/b3.mp3" type="audio/mp3" />
            <embed height="100" width="100" src="horse.mp3" />
            </audio>
        </div>
        <div class="circle">B3</div>
    </div>
    <div style="display: flex; flex-direction: row;">
        <div>
            <audio controls="controls" height="100" width="100" loop>
            <source src="https://tuner-online.com/audio/e4.mp3" type="audio/mp3" />
            <embed height="100" width="100" src="horse.mp3" />
            </audio>
        </div>
        <div class="circle">E4</div>
    </div>
</div>*@

    <div class="uku">
        <div class="head">
            <div class="extra"></div>
            <div class="head-inside">
                <div class="tuner e" data-note="e">
                </div>
                <div class="tuner a" data-note="a">
                </div>
                <div class="tuner d" data-note="d">
                </div>
                <div class="tuner g" data-note="g">
                </div>
                <div class="tuner b" data-note="b">
                </div>
                <div class="tuner e2" data-note="e2">
                </div>
            </div>
        </div>
        <div class="arm">
            <div class="string e" data-note="e"></div>
            <div class="string a" data-note="a"></div>
            <div class="string d" data-note="d"></div>
            <div class="string g" data-note="g"></div>
            <div class="string b" data-note="b"></div>
            <div class="string e2" data-note="e2"></div>
        </div>
        <div class="ukubody"></div>
        <div class="cloud">

            <div class="btnUku E" data-note="e">E</div>
            <div class="btnUku A" data-note="a">A</div>
            <div class="btnUku D" data-note="d">D</div>
            <div class="btnUku G" data-note="g">G</div>
            <div class="btnUku B" data-note="b">B</div>
            <div class="btnUku E2" data-note="e2">E2</div>

        </div>
        <audio class="anotherAudio" preload="none" loop id="e" src="https://tuner-online.com/audio/e2.mp3"></audio>
        <audio class="anotherAudio" preload="none" loop id="a" src="https://tuner-online.com/audio/a2.mp3"></audio>
        <audio class="anotherAudio" preload="none" loop id="d" src="https://tuner-online.com/audio/d3.mp3"></audio>
        <audio class="anotherAudio" preload="none" loop id="g" src="https://tuner-online.com/audio/g3.mp3"></audio>
        <audio class="anotherAudio" preload="none" loop id="b" src="https://tuner-online.com/audio/b3.mp3"></audio>
        <audio class="anotherAudio" preload="none" loop id="e2" src="https://tuner-online.com/audio/e4.mp3"></audio>
    </div>